---
layout: layouts/default.html
title: CodeStory - Geektic
script: controllers.coffee
---
<div id="main" ng-controller="homeController" ng-class="mode">
    <div class="square" id="search">
        <span>
        <h1 class="title">G33kt1c</h1>

        <h4>Mate with geeks!</h4>

        <form class="form-search">
            <input ng-change="doSearch()" ng-model="search" type="text"
                   class="input-medium search-query"
                   placeholder="What's your passion?" autofocus="autofocus">
        </form>
        </span>
    </div>
    <div class="square" id="geek{{i+1}}" ng-repeat="i in [0,1,2,3,4,5,6]" ng-class-even="{even: i}" ng-cloak>
        <div class="image backgroundSquare" ng-class="{shown: !(geeks.length>i), hidden: geeks.length>i}">
            <img class="empty" ng-class="{top: !(geeks.length>i), pastop: geeks.length>i}"
                 src="/static/[[version]]/img/geek{{i+1}}.jpg">
        </div>

        <div class="image resultSquare" ng-class="{hidden: geeks.length<=i, shown: geeks.length>i}">
            <img class="result" ng-class="{pastop: !(geeks.length>i), top: geeks.length>i}"
                 ng-src="{{geeks[i].pictureUrl}}?s=256">
            <div class="caption" ng-class="{pastop: !(geeks.length>i), top: geeks.length>i}" ng-cloak>
                <p class="name">{{geeks[i].prenom}}</p>

                <p class="like">+1 {{geeks[i].like1}}, {{geeks[i].like2}}, {{geeks[i].like3}}</p>
            </div>
        </div>
    </div>
    <div class="square" id="intro">
        <div class="full-caption">
            <div class="inner">
                <div id="inscription">
                    <p><a id="showSignupBtn" class="btn btn-primary" ng-click="setMode('inscription')">Sign up</a></p>

                    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count="none"
                       data-text="#codestory #geektic #likes ">Tweet to signup!</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "https://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>
                </div>

                <div class="signup form">
                    <h3>Sign up to let others find you!</h3>
                    <div>
                    <input class="prenom" type="text" placeholder="First name" ng-model="geek.prenom">
                    <input class="nom" type="text" placeholder="Last name" ng-model="geek.nom">
                    </div>
                    <div>
                    <input class="email" type="text" placeholder="Email (for gravatar only)" ng-model="geek.email">
                    </div>
                    <div>
                    <input class="like like1" type="text" placeholder="Like 1" ng-model="geek.like1">
                    <input class="like like2" type="text" placeholder="Like 2" ng-model="geek.like2">
                    <input class="like like3" type="text" placeholder="Like 3" ng-model="geek.like3">
                    </div>

                    <div class="actions">
                        <a class="inscription btn btn-primary" ng-click="inscription(geek)">Sign Up</a>
                        <a class="cancel btn btn-warning" ng-click="setMode('default')">Cancel</a>
                    </div>
                </div>

                <div class="user">
                    <h3>{{ geek.prenom }}  {{ geek.nom }}</h3>
                    <a id="logout" class="btn btn-primary" ng-click="logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>